PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=12345
DB_NAME=call_center_app
AUTH_TOKEN_SECRET=change-this-secret
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_FULL_NAME=Süper Admin
SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=Admin12345!
